main {
  position: relative;
  display: grid;
  grid-template-columns: minmax(800px, auto) minmax(75px, 5%) 35%;
  width: 100%;
  height: auto;
  font-family: "Maven Pro", sans-serif;
}

.champions-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;

  font-family: "Charm", cursive;
  background-image: url(assets/spiri_bg.jpg);
  background-size: cover;
}

.champions-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.champion {
  display: grid;
  grid-template-columns: 5% 70% 25%;
  grid-template-rows: repeat(2, 50px);
  width: 100%;
  height: 100%;
  margin-top: -4px;
  border: 4px solid #accbdf;
  color: #a293dd;
  cursor: pointer;
  transition: color 0.5s linear;
}

.champion > div:nth-child(-n + 2) {
  border-right: 4px solid #accbdf;
}

.champion--position,
.champion--name {
  grid-row: span 2;
}

.champion--position > span {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 200%;
  height: 100%;
  padding-top: 20px;
  font-weight: 600;
  /*#e26fa4;*/
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.champion--name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.champion--nickname {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #accbdf;
  font-size: 22px;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more > button {
  width: 100px;
  height: 30px;
  border-radius: 25px;
  color: #d9e4ed;
  font-size: 18px;
  text-align: center;
  background-color: #a293dd;
  transition: all 0.5s linear;
}

.champion:hover {
  border: 4px solid #e26fa4;
  color: #e26fa4;
  z-index: 2;
}

.champion:hover > div:nth-child(-n + 2) {
  border-right: 4px solid #e26fa4;
}

.champion:hover .champion--nickname {
  border-bottom: 4px solid #e26fa4;
}

.champion:hover .more > button {
  color: #fff;
  background-color: #e26fa4;
}

.champion.activate {
  border: 4px solid #e26fa4;
  color: #e26fa4;
  z-index: 2;
}

.champion.activate > div:nth-child(-n + 2) {
  border-right: 4px solid #e26fa4;
}

.champion.activate .champion--nickname {
  border-bottom: 4px solid #e26fa4;
}

.champion.activate .more > button {
  color: #fff;
  background-color: #e26fa4;
}
/*##buandary*/

.baundary--wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.baundary--wrap--wrap {
  position: fixed;
  width: 76px;
  min-width: 75px;
  height: 100%;
  transition: width 1s linear;
}

.baundary {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(assets/yasuoskin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  opacity: 1;
  transition: all 1.5s;
}

.spirit-blossom-mark {
  position: absolute;
  bottom: 1%;
  width: 70px;
  height: 70px;
  background-image: url(assets/blossom.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  cursor: pointer;
}

.champions-additional-info {
  position: relative;
  width: 100%;
  height: 100vh;
}

.additional-info--wrap {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  padding: 10px;
  background-image: url(assets/Environment.jpg);
  background-position: -420px;
}

.additional-info--header {
  width: 100%;
  height: 70px;
}

.additional-info--nav {
  height: 100%;
}

.additional-info--nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.additional-info--nav > ul > li {
  color: #d9e6ee;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.additional-info--nav > ul > li:hover {
  color: #e26fa4;
}

.story {
  position: relative;
  padding-right: 10px;
}

.story::before {
  position: absolute;
  top: -10px;
  left: -35px;
  width: 40px;
  height: 40px;
  background-image: url(assets/story.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.story--drop-menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  max-height: 0px;
  border-radius: 5px;
  color: #fff;
  text-align: right;
  background-color: rgba(189, 36, 66, 0.6);
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 1s, opacity 0s 0.7s, visibility 0s 1s;
}

.story--drop-menu.activate {
  max-height: 210px;
  opacity: 1;
  visibility: visible;
  transition: max-height 1s;
}

.drop-item > a {
  display: block;
  padding: 5px 15px 5px 5px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.drop-item:hover {
  color: #f9ee75;
}

.additional-info--nav > ul > li > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
}

.champion--profile {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  background-image: url(assets/yasuo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.additional-info-content {
  position: relaitve;
  width: 100%;
  height: 100%;
}

.story--wrap {
  width: 100%;
  height: 100%;
}

.story--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.story--img {
  width: 450px;
  height: 180px;
  margin-bottom: 10px;
  border-radius: 30px;
  overflow: hidden;
}

.story--img > img {
  width: 100%;
  height: 100%;
}

.story--content {
  position: absolute;
  top: 280px;
  width: 100%;
  height: 400px;
  padding: 10px;
  font-weight: 600;
  line-height: 1.5;
  color: #333;
  background-color: rgba(255, 255, 255, 0.3);
  overflow-y: scroll;
}

.round {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
