%button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 53px;
  border: 1px solid #000;
  padding: 0 50px;
  font-size: 12px;
  font-weight: 600;

  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

%date {
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(65, 65, 65, 0.8);
  span {
    font-size: 12px;
  }
}
