$redColor: #e7473c;
$whiteColor: #fcf0ef;
$bgRedColor: #d94338;
$bgWhiteColor: #f0f0f0;
$paintBox_font: "Open Sans", sans-serif;
$paintBox_color: #414141;
$grayColor: #9d9d9c;
$light_grayColor: #d4d5dc;
$romanes_font: "Romanesco", cursive;
$between_distance: 80px;
$beigeColor: #f3ede8;
$darkGrayColor: #414141;
$darkGrayColor2: rgba(65, 65, 65, 0.8);
$darkGrayColor3: rgba(33, 32, 32, 0.83);
$brownColor: #af7832;
$Noto_Sans: "Noto Sans", sans-serif;
$light_grayColor2: #d9dadb;
$light_grayColor3: #e0e1e2;
$roboto: "Roboto", sans-serif;
$orange: #ff6429;
$bgYellow: #efcb56;
$diplomata: "Diplomata", cursive;
$lightYellow: #e4c564;
$darkOliveGreen: #56854a;
$lightOliveGreen: rgb(94, 139, 83);
$skyBlue: #97c2de;
$indianRed: #dc534d;
$tan: #ccb2a2;
$lighttan: rgb(207, 187, 174);
$darkyan: #198ca1;
$sandybrown: #ec9860;
$Lora: "Lora", serif;
$oldTT: "Old Standard TT", serif;
$linen: #f0f0eb;
$salmon: #f76a75;
$darkSalmon: #fc2c1d;
$Gelasio: "Gelasio", serif;
$sansJP: "Noto Sans JP", sans-serif;
$Inria: "Inria Sans", sans-serif;
$cornflowerblue: #5ea3ec;
$tomato: #f64444;
$orange2: #ffb400;
$sectionBetween: 180px;
$ptMono: "PT Mono", monospace;
$DMserif: "DM Serif Text", serif;
$Gayathri: "Gayathri", sans-serif;
