$redColor: #e7473c;
$whiteColor: #fcf0ef;
$bgRedColor: #d94338;
$bgWhiteColor: #f0f0f0;
$paintBox_font: "Open Sans", sans-serif;
$paintBox_color: #414141;
$grayColor: #9d9d9c;
$light_grayColor: #d4d5dc;
$romanes_font: "Romanesco", cursive;
$between_distance: 80px;
$beigeColor: #f3ede8;
$darkGrayColor: #414141;
$darkGrayColor2: rgba(65, 65, 65, 0.8);
$brownColor: #af7832;
$Noto_Sans: "Noto Sans", sans-serif;
$light_grayColor2: #d9dadb;
$light_grayColor3: #e0e1e2;
