body {
  padding: 0 20px;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.header {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 55px;
  background-color: #fff;
  .header-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }
  .header__nav {
    ul {
      display: flex;
      align-items: center;
      height: 100%;
      font-weight: 300;
      li:not(:last-child) {
        margin-right: 20px;
      }
      .active {
        color: blue;
      }
      li {
        cursor: pointer;
        &:hover {
          color: blue;
        }
      }
    }
  }
}
main {
  display: grid;
  grid-template-columns: 3fr;
  width: 100%;
  margin-top: 55px;
  .sidebar {
    position: fixed;
    top: 55px;
    font-size: 15px;
    font-weight: 300;
    ul {
      li:not(:last-child) {
        margin-bottom: 3px;
      }
      li {
        cursor: pointer;
        &:hover {
          color: blue;
        }
      }
    }
  }
  .grid-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-left: 25vw;
    cursor: pointer;
    figure {
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        height: 100%;
      }
      figurecaption {
        display: flex;
        align-items: center;
        height: 45px;
        font-weight: 300;
      }
      &:hover {
        color: blue;
      }
    }
    figure:nth-child(5),
    figure:nth-child(6),
    figure:nth-child(8),
    figure:nth-child(13),
    figure:nth-child(17),
    figure:nth-child(18) {
      height: 70%;
    }
    figure:nth-child(9),
    figure:nth-child(10),
    figure:nth-child(15),
    figure:nth-child(20) {
      height: 50%;
    }
    figure:nth-child(11),
    figure:nth-child(21) {
      height: 60%;
    }
  }
}
