@import "_variables";
@import "_elements";

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.hide {
  visibility: hidden !important;
}
body {
  padding: 45px 45px;
}

.header {
  position: relative;
  max-width: 1429.2px;
  width: 100%;
  height: 120px;
  margin-bottom: $won_marginBottom;

  font-family: $DMserif;
  background-color: #fff;
  z-index: 3;
  .header__nav {
    position: relative;
    top: 0;
    max-width: inherit;
    width: inherit;
    .header__nav--secondary {
      width: 100%;
      .header__nav--secondary--list {
        display: grid;
        grid-template-columns: 25% 50% 12.5% 12.5%;
        grid-template-rows: 60px;
        .header__nav--secondary--list-item {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #000;
          cursor: pointer;

          &:not(:last-child) {
            border-right: none;
          }

          &:nth-child(1) {
            position: relative;
            background-color: #fff;
            z-index: 2;
            .menu-title {
              opacity: 1;
              transition: transform 0.3s ease-in-out, opacity 0.4s linear;
              z-index: 2;
              &.dis {
                opacity: 0;
                transform: translateX(-200%);
              }
            }
            form {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 10px 10px 10px 50px;
              opacity: 1;
              transition: opacity 0.4s linear, display 0.6s 0.5s linear;
              &::before {
                position: absolute;
                top: 20px;
                left: 15px;
                display: block;
                width: 18px;
                height: 18px;
                background-image: url(../../assets/search.png);
                background-repeat: no-repeat;
                background-size: cover;
                content: "";
              }
              &.dis {
                opacity: 0;
              }
              input {
                width: 100%;
                height: 100%;
                border: none;
                font-size: 16px;
                outline: none;
              }
            }
          }

          &:nth-child(2) {
            border-bottom: none;
            font-family: $Gayathri;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: -0.035em;
            text-transform: uppercase;
            .main-title {
              margin-top: 10px;
              &:hover {
                opacity: 0.6;
              }
            }
          }

          &:nth-child(3) {
            position: relative;
            background-color: #fff;
            z-index: 2;
            cursor: default;
            &:hover {
              .currency_picker {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.4s ease;
              }
            }
            .currency_picker {
              position: absolute;
              top: 58px;
              width: 101%;
              border: 1px solid #000;
              border-top: none;
              font-size: 18px;
              text-transform: uppercase;
              background-color: #fff;
              z-index: 2;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.4s ease, visibility 0s ease 0.4s;

              li {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 10px;
                a {
                  cursor: pointer;
                  &:hover {
                    opacity: 0.6;
                  }
                }
              }
            }
          }

          &:nth-child(4) {
            position: relative;
            background-color: #fff;
            overflow: hidden;
            z-index: 2;
            &:hover {
              .menu-title {
                opacity: 0;
              }
              .button__hover {
                opacity: 0.6;
              }
            }

            .menu-title {
              opacity: 1;
              transition: opacity 0.4s ease;
            }
            .button__hover {
              @extend %buttonHover;
              opacity: 0;
              transition: opacity 0.4s ease;
            }
          }

          .menu-title {
            font-size: 18px;
          }
        }
      }
    }
    .header__nav--primary {
      position: absolute;
      top: 60px;
      width: 100%;
      .header__nav--primary--list {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 60px;

        .header__nav--primary--list-item {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #000;
          border-top: none;
          cursor: pointer;

          &:not(:last-child) {
            border-right: none;
          }

          &:nth-child(1) {
            overflow: hidden;
            &:hover {
              .nav__dropdown {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.4s ease;
              }
            }
            .button__container {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              &:hover {
                .menu-title {
                  opacity: 0;
                }
                .button__hover {
                  opacity: 0.6;
                }
              }
              a {
                display: block;
                color: blue;
                .menu-title {
                  font-size: 18px;
                  opacity: 1;
                  transition: opacity 0.4s ease;
                }
              }
              .button__hover {
                @extend %buttonHover;
                opacity: 0;
                transition: opacity 0.4s ease;
              }
            }
            .nav__dropdown {
              position: absolute;
              top: 60px;
              left: 0;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: 387px;
              width: 100%;
              font-family: $Noto_Sans;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.4s ease, visibility 0s ease 0.4s;

              .grid-left,
              .grid-right {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 85% 15%;
                border: 1px solid #000;
                border-top: none;
                &:hover {
                  .product-category {
                    .category-title {
                      opacity: 0;
                    }
                    .button__hover {
                      opacity: 1;
                    }
                  }
                }
                .product-img {
                  border-bottom: 1px solid #000;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                .product-category {
                  position: relative;
                  overflow: hidden;
                  background-color: #fff;
                  a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    .category-title {
                      opacity: 1;
                      transition: opacity 0.4s ease;
                    }
                    .button__hover {
                      position: absolute;
                      top: 0;
                      left: 0;
                      display: flex;
                      width: 100%;
                      height: 100%;
                      opacity: 0;
                      .button__ticker {
                        display: flex;
                        align-items: center;
                        animation: 9s linear infinite ticker;
                        span {
                          display: block;
                          width: max-content;
                          padding-right: 70px;
                        }
                      }
                    }
                  }
                }
              }
              .grid-left {
                border-right: none;
              }
            }
          }
          &:nth-child(2),
          &:nth-child(3) {
            border-top: 1px solid #000;
            background-color: #fff;
            overflow: hidden;
            z-index: 2;
            &:hover {
              .nav__dropdown {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.4s ease;
              }
            }
            .button__container {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              &:hover {
                .menu-title {
                  opacity: 0;
                }
                .button__hover {
                  opacity: 0.6;
                }
              }
              a {
                display: block;
                .menu-title {
                  font-size: 18px;
                  opacity: 1;
                  transition: opacity 0.4s ease;
                }
              }
              .button__hover {
                @extend %buttonHover;
                animation-duration: 12s;
                opacity: 0;
                transition: opacity 0.4s ease;
              }
            }
            .nav__dropdown {
              position: absolute;
              top: 60px;
              left: 0;
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-template-rows: 160px;
              width: 100%;
              border: 1px solid #000;
              border-top: none;
              padding: 16px 0;
              font-family: $Noto_Sans;
              font-size: 16px;
              background-color: #fff;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.4s ease, visibility 0s ease 0.4s;
              .grid-column {
                ul {
                  display: grid;
                  grid-template-columns: 1fr;
                  grid-template-rows: repeat(4, 1fr);
                  height: 100%;
                  li {
                    a {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 100%;
                      height: 100%;
                      &:hover {
                        opacity: 0.6;
                      }
                    }
                    .sale {
                      color: red;
                      text-transform: uppercase;
                    }
                  }
                }
                &:first-child {
                  ul {
                    li:first-child {
                      font-weight: 600;
                      text-transform: uppercase;
                    }
                  }
                }
              }
            }
          }
          &:nth-child(4) {
            position: relative;
            font-size: 18px;
            overflow: hidden;

            &:hover {
              .menu-title {
                opacity: 0;
              }
              .button__hover {
                opacity: 0.6;
              }
            }
            .menu-title {
              opacity: 1;
              transition: opacity 0.4s ease;
            }
            .button__hover {
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              height: 100%;
              opacity: 0;
              transition: opacity 0.4s ease;
              .button__ticker {
                display: flex;
                align-items: center;
                animation: 7s linear infinite ticker;
                span {
                  padding-right: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  .banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 110vh;
    width: 100%;
    margin-bottom: $won_marginBottom;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .ticker {
    margin-bottom: $won_marginBottom;
    overflow: hidden;
    cursor: pointer;
    .ticker--wrap {
      display: flex;
      width: max-content;

      .ticker--inner {
        display: flex;

        animation: 10s linear infinite ticker;
        .tick {
          display: block;
          margin-right: 100px;
          font-size: 50px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
  .selected-item {
    display: flex;
    flex-direction: column;
    margin-bottom: $won_marginBottom;
    .selected-item--title {
      width: 100%;
      margin-bottom: 50px;
      padding: 20px 0;
      font-size: 35px;
      font-weight: 600;
      letter-spacing: -0.025em;
      text-align: center;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 110vh;
      border: 1px solid #000;
      .grid-column--item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 10%;
        &:first-child {
          border-right: 1px solid #000;
        }
        .grid-row--item {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 1fr;

          figure {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 75% 25%;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid #000;
            cursor: pointer;
            &:hover {
              .item-img-wrap {
                img {
                  &:first-child {
                    opacity: 0;
                  }
                  &:last-child {
                    opacity: 1;
                  }
                }
              }
              figurecaption {
                .item-info {
                  opacity: 0;
                }
                .item-size {
                  opacity: 1;
                }
              }
            }
            &:not(:last-child) {
              border-right: 1px solid #000;
            }
            .item-img-wrap {
              position: relative;
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
                &:first-child {
                  opacity: 1;
                  transition: opacity 0.6s ease-in-out;
                }
                &:last-child {
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0;
                  transition: opacity 0.6s ease-in-out;
                }
              }
            }
            figurecaption {
              position: relative;
              width: 100%;
              height: 100%;
              border-top: 1px solid #000;
              padding: 10px;
              font-size: 14px;
              font-weight: 600;

              .item-info {
                opacity: 1;
                transition: opacity 0.6s ease-in-out;
                .item-title {
                  margin-bottom: 10px;
                }
              }
              .item-size {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px;
                opacity: 0;
                transition: opacity 0.6s ease-in-out;
                h3 {
                  margin-bottom: 10px;
                }
                .sizes {
                  letter-spacing: 0.05em;
                  line-height: 1.5;
                  &.jeans {
                    word-spacing: 0.6em;
                    .sold-out {
                      color: rgba(0, 0, 0, 0.4);
                      text-decoration: line-through;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .button__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          .title {
            opacity: 0;
          }
          .button__hover {
            opacity: 1;
          }
        }

        .title {
          opacity: 1;
          transition: opacity 0.4s ease;
        }
        .button__hover {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          width: 100%;
          height: 100%;
          overflow: hidden;
          opacity: 0;
          transition: opacity 0.4s ease;
          .button__ticker {
            display: flex;
            width: max-content;
            animation: 8s linear infinite ticker;
            .ticker {
              display: flex;
              align-items: center;
              width: max-content;
              margin: 0;
              padding-right: 70px;
            }
          }
        }
      }
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 86% 14%;
  width: 100%;
  height: 28vh;
  border: 1px solid #000;

  .footer-primary {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 1fr;
    border-bottom: 1px solid #000;

    .footer--newsletter {
      padding: 30px;
      h2 {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
      }
      .sign-form {
        width: 100%;
        .input-wrap {
          position: relative;
          width: 100%;
          input {
            width: 60%;
            height: 45px;
            padding: 0 20px;
          }
          .gender_wrap {
            position: absolute;
            top: 0;
            left: 390px;
            display: flex;

            .women_pick,
            .men_pick {
              position: relative;

              display: flex;
              justify-content: center;
              align-items: center;
              width: 88px;
              height: 43px;
              border: 1px solid black;
              border-left: none;
              padding: 0 20px;
              font-size: 14px;
              font-weight: 600;
              overflow: hidden;
              cursor: pointer;
              &:hover {
                & > span {
                  opacity: 0;
                }
                .button__hover {
                  opacity: 1;
                }
              }

              & > span {
                opacity: 1;
                transition: opacity 0.4s ease-in-out;
              }
              .button__hover {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                height: 100%;
                opacity: 0;
                transition: opacity 0.4s ease-in-out;

                .button__ticker {
                  display: flex;
                  align-items: center;
                  width: max-content;
                  animation: 12s linear infinite ticker;
                  span {
                    padding-right: 50px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer--shopping,
    .footer--company {
      border-left: 1px solid #000;
      padding: 30px;
      font-size: 14px;
      h2 {
        margin-bottom: 20px;
        font-weight: 600;
      }
      .list-wrap {
        display: flex;
        width: 100%;
        ul:first-child {
          margin-right: 20px;
        }
        ul {
          width: 100%;
          height: 100%;
          li {
            font-weight: 500;
            cursor: pointer;
            &:hover {
              color: rgba(0, 0, 0, 0.4);
            }
            a {
              display: block;
              width: 100%;
              height: 100%;
              padding: 3px 0;
            }
          }
        }
      }
    }
  }
  .footer-secondary {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    font-size: 13px;
    font-weight: 600;
    .footer--sns {
      position: absolute;
      left: 0;
      padding-left: 30px;
      cursor: pointer;
      a:first-child {
        margin-right: 10px;
      }
    }
  }
}
